body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: #000040;
}

ol, ul {
  padding-left: 30px;
}

		

.wrapper {
	margin: 0 auto;
	width: 90%;
}
.header {
	color: #fff;
}
.conversion-box {
	width: 80%;
	margin: 0 auto;
	position: relative;
	padding: 20% 0;
}
.src-currency-info, .dest-currency-info {
	color: #fff;

}
.cur-dropdown {
	float: left;
	width: 100%;

}

h1 {
  text-align: left;
  margin-bottom: 18px;
  color: #fff;
  text-transform: capitalize;
}
header {
  margin-bottom: 20px;
  text-align: center;
}
header img {
  max-width: 120px;
}
.content {
  background-color: #000040;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.content .table {
  margin-bottom: 0;
}
.content .table td, .content .table th {
  vertical-align: middle;
}
.content .table .mRight {
  margin-right: 20px;
}
.content .row {
  margin-bottom: 20px;
}
.content .row h3 {
  padding-left: 40px;
}
.dropdown {
	width: 100%;
	padding: 5px 0;
}
.content .row-select-currency {
  text-align: center;
}
@media (min-width: 768px) {
  .content .currency-from-input {
    position: relative;
    padding-right: 20px;
  }
  .content .currency-from-input:after {
    content: '=';
    display: block;
    position: absolute;
    right: -8px;
    bottom: 4px;
    font-weight: bold;
    font-size: 30px;
    line-height: 0.9;
  }
  .content .currency-to-input {
    padding-left: 20px;
  }
}
.message {
  text-align: center;
}
.message:only-child {
  margin: 0;
}
.btn-sm {
  margin-right: 8px;
}
.form-inline {
  margin: 10px auto;
  width: 235px;
}
.form-inline .btn-default {
  margin-left: 5px;
}
.credits {
  text-align: center;
  color: #fff;
  padding: 70px;
  opacity: 0.2;
  transition: opacity 0.3s linear;
}
.credits:hover {
  opacity: 1;
}
.credits a {
  color: #fff;
}

